<%= form_for @article, url: "/articles" do |f| %>

  <p><strong>Today's article:</strong></p>

  <p>Headline:</p>
  <p><%= f.text_field :title %></p>
  <p>Article URL:</p>
  <p><%= f.text_field :url %></p>
  <p>Image url: </p>
  <p><%= f.text_field :image %></p>
  <p>Further notes: </p>
  <p><%= f.text_field :description %></p>
  <p><%= f.submit "Create!" %></p>
<% end %>
