<%= form_for @article, url: "/articles" do |f| %>

  <h3>Add today's article:</h3>

  <p>Headline:</p>
  <p><%= f.text_field :title, size: 40, class: "article_title" %></p>
  <p>Article URL:</p>
  <p><%= f.text_field :url, size: 40 %></p>
  <p>Image URL: </p>
  <p><%= f.text_field :image, size: 40 %></p>

  <div class="article_note_field">
  <p>Further notes: </p>
  <p><%= f.text_area :description, cols: 80, rows: 13 %></p>
  </div>

  <p><%= f.submit "Create!" %></p>

<% end %>
