<h2>My article scrapbook</h2>

<%= render "new_article_form" %>

<p><% @articles.reverse_each do |article| %></p>

<p><%= link_to article.title, article.url %></p>

<%= article.url %>

<p> <%= image_tag article.image %> </p>

<p> <%= article.description %> </p>

<p> Posted at: <%= article.created_at %>

<% end %>
