<h2>My article scrapbook</h2>

<%= render "new_article_form" %>

<p><% @articles.reverse_each do |article| %></p>

<p><%= link_to article.title, article.url %></p>

<p> <%= image_tag article.image %> </p>

<p> <%= article.description %> </p>

<p> Posted at: <%= article.created_at %>

<%= button_to "delete", {:controller => :articles,
                           :action => 'destroy',
                           :id => article.id},
                           :method => :delete %>

<%= button_to "edit", {:controller => :articles,
                           :action => 'edit',
                           :id => article.id},
                           :method => :get %>


<% end %>
