<h2>My article scrapbook</h2>

<%= render "new_article_form" %>

<p><% @articles.reverse_each do |article| %></p>

<h2><%= link_to article.title, article.url %></h2>

<p> <%= article.description %> </p>

<p> <%= image_tag article.image %> </p>

<p> Posted at: <%= article.created_at %>

<%= button_to "delete", {:controller => :articles,
                           :action => 'destroy',
                           :id => article.id},
                           :method => :delete %>

<%= button_to "edit", {:controller => :articles,
                           :action => 'edit',
                           :id => article.id},
                           :method => :get %>

<h3><%=article.comments.length %> comments on this article: </h3>
<p><% article.comments.each do |comment| %></p>

<p> <%= comment.comment_text %> </p>
<p> -- <%= comment.author %> </p>

<%= button_to "Delete Comment", {:controller => :comments,
                           :action => 'destroy',
                           :article_id => article.id,
                           :id => comment.id},
                           :method => :delete %>

<% end %>

<h3>Add a comment on the article "<%= article.title %>":</h3>

<%= form_for @comment, url: "/articles/#{article.id}/comments" do |f| %>

  <p><%= f.text_field :comment_text, :placeholder => "Comment" %></p>
  <p><%= f.text_field :author, :placeholder => "Author" %></p>
  <p><%= f.hidden_field :article_id, :value => article.id %></p>

<p><%= f.submit "Submit comment" %></p>
<% end %>
<% end %>
